<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessToken" value="c13iyCvmcC9mzwkLd0LCbmYC5mUF5m2jNGNtNGt6NmK6NJK=" />
    <add key="AddressSearchType" value="2" />
    <add key="AddressResultRangePageIndex" value="1" />
    <add key="AddressResultRecordsPerPage" value="1" />
    <add key="Language" value="portugues" />
    <add key="DesciptionType" value="0" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RouteSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.maplink.com.br/webservices/v3/route/route.asmx"
          binding="basicHttpBinding" bindingConfiguration="RouteSoap"
          contract="RouteService.RouteSoap" name="RouteSoap" />
    </client>
  </system.serviceModel>
</configuration>