<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MapLink.RoteValuesCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MapLink.RoteValuesCalculator.Properties.Settings>
            <setting name="MapLink_RoteValuesCalculator_br_com_maplink_services_AddressFinder"
                serializeAs="String">
                <value>http://services.maplink.com.br/webservices/v3.1/AddressFinder/AddressFinder.asmx</value>
            </setting>
        </MapLink.RoteValuesCalculator.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="AccessToken" value="c13iyCvmcC9mzwkLd0LCbmYC5mUF5m2jNGNtNGt6NmK6NJK=" />
    <add key="AddressSearchType" value="2" />
    <add key="AddressResultRangePageIndex" value="1" />
    <add key="AddressResultRecordsPerPage" value="1" />
  </appSettings>
</configuration>